body{
	background: #d2d2c1 url('imagens/fundo.png');
}

#principal{
	width: 900px;
}

#menu{
	background: #c5c5b2;
	font: 18px Arial, Helvetica, sans-serif;
}

#conteudo{
	background: #e8e8d9;
	padding: 10px;
}

#rodape {
	text-align: center;
}

.img-campanha{
	border: 10px solid #c3c3ae;
}

a{
	color: #4b566a;
	text-decoration: none;
	padding: 5px;
	font-weight: bold;
}

h1{
	color: #828271;
	font-size: 1.2em;
}


